// 乳白
$rubai: #f9f4dc;

// 杏仁黄
$xingrenhuang: #f7e8aa;

// 茉莉黄
$molihuang: #f8df72;

// 麦秆黄
$maiganhuang: #f8df70;

// 油菜花黄
$youcaihuahuang: #fbda41;

// 佛手黄
$foshouhuang: #fed71a;

// 篾黄
$miehuang: #f7de98;

// 葵扇黄
$kuishanhuang: #f8d86a;

// 柠檬黄
$ningmenghuang: #fcd337;

// 金瓜黄
$jinguahuang: #fcd217;

// 藤黄
$tenghuang: #ffd111;

// 酪黄
$laohuang: #f6dead;

// 香水玫瑰黄
$xiangshuimeiguihuang: #f7da94;

// 淡密黄
$danmihuang: #f9d367;

// 大豆黄
$dadouhuang: #fbcd31;

// 素馨黄
$suxinhuang: #fccb16;

// 向日葵黄
$xiangrikuihuang: #fecc11;

// 雅梨黄
$yalihuang: #fbc82f;

// 黄连黄
$huanglianhuang: #fcc515;

// 金盏黄
$jinzhanhuang: #fcc307;

// 蛋壳黄
$dankehuang: #f8c387;

// 肉色
$rouse: #f7c173;

// 鹅掌黄
$ezhanghuang: #fbb929;

// 鸡蛋黄
$jidanhuang: #fbb612;

// 鼬黄
$youhuang: #fcb70a;

// 榴萼黄
$liuehuang: #f9a633;

// 淡橘橙
$danjucheng: #fba414;

// 枇杷黄
$pipahuang: #fca106;

// 橙皮黄
$chengpihuang: #fca104;

// 北瓜黄
$beiguahuang: #fc8c23;

// 杏黄
$xinghuang: #f28e16;

// 雄黄
$xionghuang: #ff9900;

// 万寿菊黄
$wanshoujuhuang: #fb8b05;

// 菊蕾白
$juleibai: #e9ddb6;

// 秋葵黄
$qiukuihuang: #eed045;

// 硫华黄
$liuhuahuang: #f2ce2b;

// 柚黄
$youhuang: #f1ca17;

// 芒果黄
$mangguohuang: #ddc871;

// 蒿黄
$haohuang: #dfc243;

// 姜黄
$jianghuang: #e2c027;

// 香蕉黄
$xiangjiaohuang: #e4bf11;

// 草黄
$caohuang: #d2b42c;

// 新禾绿
$xinhelv: #d2b116;

// 月灰
$yuehui: #b7ae8f;

// 淡灰绿
$danhuilv: #ad9e5f;

// 草灰绿
$caohuilv: #8e804b;

// 苔绿
$tailv: #887322;

// 碧螺春绿
$biluochunlv: #867018;

// 燕羽灰
$yanyuhui: #685e48;

// 蟹壳灰
$xiekehui: #695e45;

// 潭水绿
$tanshuilv: #645822;

// 橄榄绿
$ganlanlv: #5e5314;

// 蚌肉白
$bangroubai: #f9f1db;

// 豆汁黄
$douzhihuang: #f8e8c1;

// 淡茧黄
$danjianhuang: #f9d770;

// 乳鸭黄
$ruyahuang: #ffc90c;

// 荔肉白
$liroubai: #f2e6ce;

// 象牙黄
$xiangyahuang: #f0d695;

// 炒米黄
$chaomihuang: #f4ce69;

// 鹦鹉冠黄
$yingwuguanhuang: #f6c430;

// 木瓜黄
$muguahuang: #f9c116;

// 浅烙黄
$qianlaohuang: #f9bd10;

// 莲子白
$lianzibai: #e5d3aa;

// 谷黄
$guhuang: #e8b004;

// 栀子黄
$zhizihuang: #ebb10d;

// 芥黄
$jiehuang: #d9a40e;

// 银鼠灰
$yinshuhui: #b5aa90;

// 尘灰
$chenhui: #b6a476;

// 枯绿
$kulv: #b78d12;

// 鲛青
$jiaoqing: #87723e;

// 粽叶绿
$zongyelv: #876818;

// 灰绿
$huilv: #8a6913;

// 鹤灰
$hehui: #4a4035;

// 淡松烟
$dansongyan: #4d4030;

// 暗海水绿
$anhaishuilv: #584717;

// 棕榈绿
$zonglvlv: #5b4913;

// 米色
$mise: #f9e9cd;

// 淡肉色
$danrouse: #f8e0b0;

// 麦芽糖黄
$maiyatanghuang: #f9d27d;

// 琥珀黄
$hupohuang: #feba07;

// 甘草黄
$gancaohuang: #f3bf4c;

// 初熟杏黄
$chushuxinghuang: #f8bc31;

// 浅驼色
$qiantuose: #e2c17c;

// 沙石黄
$shashihuang: #e5b751;

// 虎皮黄
$hupihuang: #eaad1a;

// 土黄
$tuhuang: #d6a01d;

// 百灵鸟灰
$bailingniaohui: #b4a992;

// 山鸡黄
$shanjihuang: #b78b26;

// 龟背黄
$guibeihuang: #826b48;

// 苍黄
$canghuang: #806332;

// 莱阳梨黄
$laiyanglihuang: #815f25;

// 蜴蜊绿
$yililv: #835e1d;

// 松鼠灰
$songshuhui: #4f4032;

// 橄榄灰
$ganlanhui: #503e2a;

// 蟹壳绿
$xiekelv: #513c20;

// 古铜绿
$gutonglv: #533c1b;

// 焦茶绿
$jiaochalv: #553b18;

// 粉白
$fenbai: #fbf2e3;

// 落英淡粉
$luoyingdanfen: #f9e8d0;

// 瓜瓤粉
$guarangfen: #f9cb8b;

// 蜜黄
$mihuang: #fbb957;

// 金叶黄
$jinyehuang: #ffa60f;

// 金莺黄
$jinyinghuang: #f4a83a;

// 鹿角棕
$lujiaozong: #e3bd8d;

// 凋叶棕
$diaoyezong: #e7a23f;

// 玳瑁黄
$daimaohuang: #daa45a;

// 软木黄
$ruanmuhuang: #de9e44;

// 风帆黄
$fengfanhuang: #dc9123;

// 桂皮淡棕
$guipidanzong: #c09351;

// 猴毛灰
$houmaohui: #97846c;

// 山鸡褐
$shanjihe: #986524;

// 驼色
$tuose: #66462a;

// 茶褐
$chahe: #5d3d21;

// 古铜褐
$gutonghe: #5c3719;

// 荷花白
$hehuabai: #fbecde;

// 玫瑰粉
$meiguifen: #f8b37f;

// 橘橙
$jucheng: #f97d1c;

// 美人焦橙
$meirenjiaocheng: #fa7e23;

// 润红
$runhong: #f7cdbc;

// 淡桃红
$dantaohong: #f6cec1;

// 海螺橙
$hailuocheng: #f0945d;

// 桃红
$taohong: #f0ada0;

// 颊红
$jiahong: #eeaa9c;

// 淡罂粟红
$danyingsuhong: #eea08c;

// 晨曦红
$chenxihong: #ea8958;

// 蟹壳红
$xiekehong: #f27635;

// 金莲花橙
$jinlianhuacheng: #f86b1d;

// 草莓红
$caomeihong: #ef6f48;

// 龙睛鱼红
$longjingyuhong: #ef632b;

// 蜻蜓红
$qingtinghong: #f1441d;

// 大红
$dahong: #f04b22;

// 柿红
$shihong: #f2481b;

// 榴花红
$liuhuahong: #f34718;

// 银朱
$yinzhu: #f43e06;

// 朱红
$zhuhong: #ed5126;

// 鲑鱼红
$guiyuhong: #f09c5a;

// 金黄
$jinhuang: #f26b1f;

// 鹿皮褐
$lupihe: #d99156;

// 醉瓜肉
$zuiguarou: #db8540;

// 麂棕
$jizong: #de7622;

// 淡银灰
$danyinhui: #c1b2a3;

// 淡赭
$danzhe: #be7e4a;

// 槟榔综
$binglangzong: #c1651a;

// 银灰
$yinhui: #918072;

// 海鸥灰
$haiouhui: #9a8878;

// 淡咖啡
$dankafei: #945833;

// 岩石棕
$yanshizong: #964d22;

// 芒果棕
$mangguozong: #954416;

// 石板灰
$shibanhui: #624941;

// 珠母灰
$zhumuhui: #64483d;

// 丁香棕
$dingxiangzong: #71361d;

// 咖啡
$kafei: #753117;

// 筍皮棕
$sunpizong: #732e12;

// 燕颔红
$yanhanhong: #fc6315;

// 玉粉红
$yufenhong: #e8b49a;

// 金驼
$jintuo: #e46828;

// 铁棕
$tiezong: #d85916;

// 蛛网灰
$zhuwanghui: #b7a091;

// 淡可可棕
$dankekezong: #b7511d;

// 中红灰
$zhonghonghui: #8b614d;

// 淡土黄
$dantuhuang: #8c4b31;

// 淡豆沙
$dandousha: #873d24;

// 椰壳棕
$yekezong: #883a1e;

// 淡铁灰
$dantiehui: #5b423a;

// 中灰驼
$zhonghuituo: #603d30;

// 淡栗棕
$danlizong: #673424;

// 可可棕
$kekezong: #652b1c;

// 柞叶棕
$zhayezong: #692a1b;

// 野蔷薇红
$yeqiangweihong: #fb9968;

// 菠萝红
$boluohong: #fc7930;

// 藕荷
$ouhe: #edc3ae;

// 陶瓷红
$taocihong: #e16723;

// 晓灰
$xiaohui: #d4c4b7;

// 余烬红
$yujinhong: #cf7543;

// 火砖红
$huozhuanhong: #cd6227;

// 火泥棕
$huonizong: #aa6a4c;

// 绀红
$ganhong: #a6522c;

// 橡树棕
$xiangshuzong: #773d31;

// 海报灰
$haibaohui: #483332;

// 玫瑰灰
$meiguihui: #4b2e2b;

// 火山棕
$huoshanzong: #482522;

// 豆沙
$dousha: #481e1c;

// 淡米粉
$danmifen: #fbeee2;

// 初桃粉红
$chutaofenhong: #f6dcce;

// 介壳淡粉红
$jieqiaodanfenhong: #f7cfba;

// 淡藏花红
$dancanghuahong: #f6ad8f;

// 瓜瓤红
$guaranghong: #f68c60;

// 芙蓉红
$furonghong: #f9723d;

// 莓酱红
$meijianghong: #fa5d19;

// 法螺红
$faluohong: #ee8055;

// 落霞红
$luoxiahong: #cf4813;

// 淡玫瑰灰
$danmeiguihui: #b89485;

// 蟹蝥红
$xiemaohong: #b14b28;

// 火岩棕
$huoyanzong: #863020;

// 赭石
$zheshi: #862617;

// 暗驼棕
$antuozong: #592620;

// 酱棕
$jiangzong: #5a1f1b;

// 栗棕
$lizong: #5c1e19;

// 洋水仙红
$yangshuixianhong: #f4c7ba;

// 谷鞘红
$guqiaohong: #f17666;

// 苹果红
$pingguohong: #f15642;

// 铁水红
$tieshuihong: #f5391c;

// 桂红
$guihong: #f25a47;

// 极光红
$jiguanghong: #f33b1f;

// 粉红
$fenhong: #f2b9b2;

// 舌红
$shehong: #f19790;

// 曲红
$quhong: #f05a46;

// 红汞红
$honggonghong: #f23e23;

// 淡绯
$danfei: #f2cac9;

// 无花果红
$wuhuaguohong: #efafad;

// 榴子红
$liuzihong: #f1908c;

// 胭脂红
$yanzhihong: #f03f24;

// 合欢红
$hehuanhong: #f0a1a8;

// 春梅红
$chunmeihong: #f1939c;

// 香叶红
$xiangyehong: #f07c82;

// 珊瑚红
$shanhuhong: #f04a3a;

// 萝卜红
$luobohong: #f13c22;

// 淡茜红
$danqianhong: #e77c8e;

// 艳红
$yanhong: #ed5a65;

// 淡菽红
$danshuhong: #ed4845;

// 鱼鳃红
$yusaihong: #ed3b2f;

// 樱桃红
$yingtaohong: #ed3321;

// 淡蕊香红
$danruixianghong: #ee4866;

// 石竹红
$shizhuhong: #ee4863;

// 草茉莉红
$caomolihong: #ef475d;

// 茶花红
$chahuahong: #ee3f4d;

// 枸枢红
$goushuhong: #ed3333;

// 秋海棠红
$qiuhaitanghong: #ec2b24;

// 丽春红
$lichunhong: #eb261a;

// 夕阳红
$xiyanghong: #de2a18;

// 鹤顶红
$hedinghong: #d42517;

// 鹅血石红
$exueshihong: #ab372f;

// 覆盆子红
$fupenzihong: #ac1f18;

// 貂紫
$diaozi: #5d3131;

// 暗玉紫
$anyuzi: #5c2223;

// 栗紫
$lizi: #5a191b;

// 葡萄酱紫
$putaojiangzi: #5a1216;

// 牡丹粉红
$mudanfenhong: #eea2a4;

// 山茶红
$shanchahong: #ed556a;

// 海棠红
$haitanghong: #f03752;

// 玉红
$yuhong: #c04851;

// 高粱红
$gaolianghong: #c02c38;

// 满江红
$manjianghong: #a7535a;

// 枣红
$zaohong: #7c1823;

// 葡萄紫
$putaozi: #4c1f24;

// 酱紫
$jiangzi: #4d1018;

// 淡曙红
$danshuhong: #ee2746;

// 唐菖蒲红
$tangchangpuhong: #de1c31;

// 鹅冠红
$eguanhong: #d11a2d;

// 莓红
$meihong: #c45a65;

// 枫叶红
$fengyehong: #c21f30;

// 苋菜红
$xiancaihong: #a61b29;

// 烟红
$yanhong: #894e54;

// 暗紫苑红
$anziyuanhong: #82202b;

// 殷红
$yanhong: #82111f;

// 猪肝紫
$zhuganzi: #541e24;

// 金鱼紫
$jinyuzi: #500a16;

// 草珠红
$caozhuhong: #f8ebe6;

// 淡绛红
$danjianghong: #ec7696;

// 品红
$pinhong: #ef3473;

// 凤仙花红
$fengxianhuahong: #ea7293;

// 粉团花红
$fentuanhuahong: #ec9bad;

// 夹竹桃红
$jiazhutaohong: #eb507e;

// 榲桲红
$wenpohong: #ed2f6a;

// 姜红
$jianghong: #eeb8c3;

// 莲瓣红
$lianbanhong: #ea517f;

// 水红
$shuihong: #f1c4cd;

// 报春红
$baochunhong: #ec8aa4;

// 月季红
$yuejihong: #ce5777;

// 豇豆红
$jiangdouhong: #ed9db2;

// 霞光红
$xiaguanghong: #ef82a0;

// 松叶牡丹红
$songyemudanhong: #eb3c70;

// 喜蛋红
$xidanhong: #ec2c64;

// 鼠鼻红
$shubihong: #e3b4b8;

// 尖晶玉红
$jianjingyuhong: #cc163a;

// 山黎豆红
$shanlidouhong: #c27c88;

// 锦葵红
$jinkuihong: #bf3553;

// 鼠背灰
$shubeihui: #73575c;

// 甘蔗紫
$ganzhezi: #621624;

// 石竹紫
$shizhuzi: #63071c;

// 苍蝇灰
$cangyinghui: #36282b;

// 卵石紫
$luanshizi: #30161c;

// 李紫
$lizi: #2b1216;

// 茄皮紫
$qiepizi: #2d0c13;

// 吊钟花红
$diaozhonghuahong: #ce5e8a;

// 兔眼红
$tuyanhong: #ec4e8a;

// 紫荆红
$zijinghong: #ee2c79;

// 菜头紫
$caitouzi: #951c48;

// 鹞冠紫
$yaoguanzi: #621d34;

// 葡萄酒红
$putaojiuhong: #62102e;

// 磨石紫
$moshizi: #382129;

// 檀紫
$tanzi: #381924;

// 火鹅紫
$huoezi: #33141e;

// 墨紫
$mozi: #310f1b;

// 晶红
$jinghong: #eea6b7;

// 扁豆花红
$biandouhuahong: #ef498b;

// 白芨红
$baijihong: #de7897;

// 嫩菱红
$nenlinghong: #de3f7c;

// 菠根红
$bogenhong: #d13c74;

// 酢酱草红
$cujiangcaohong: #c5708b;

// 洋葱紫
$yangcongzi: #a8456b;

// 海象紫
$haixiangzi: #4b1e2f;

// 绀紫
$ganzi: #461629;

// 古铜紫
$gutongzi: #440e25;

// 石蕊红
$shiruihong: #f0c9cf;

// 芍药耕红
$shaoyaogenghong: #eba0b3;

// 藏花红
$canghuahong: #ec2d7a;

// 初荷红
$chuhehong: #e16c96;

// 马鞭草紫
$mabiancaozi: #ede3e7;

// 丁香淡紫
$dingxiangdanzi: #e9d7df;

// 丹紫红
$danzihong: #d2568c;

// 玫瑰红
$meiguihong: #d2357d;

// 淡牵牛紫
$danqianniuzi: #d1c2d3;

// 凤信紫
$fengxinzi: #c8adc4;

// 萝兰紫
$luolanzi: #c08eaf;

// 玫瑰紫
$meiguizi: #ba2f7b;

// 藤萝紫
$tengluozi: #8076a3;

// 槿紫
$jinzi: #806d9e;

// 蕈紫
$xunzi: #815c94;

// 桔梗紫
$jiegengzi: #813c85;

// 魏紫
$weizi: #7e1671;

// 芝兰紫
$zhilanzi: #e9ccd3;

// 菱锰红
$lingmenghong: #d276a3;

// 龙须红
$longxuhong: #cc5595;

// 蓟粉红
$jifenhong: #e6d2d5;

// 电气石红
$dianqishihong: #c35691;

// 樱草紫
$yingcaozi: #c06f98;

// 芦穗灰
$lusuihui: #bdaead;

// 隐红灰
$yinhonghui: #b598a1;

// 苋菜紫
$xiancaizi: #9b1e64;

// 芦灰
$luhui: #856d72;

// 暮云灰
$muyunhui: #4f383e;

// 斑鸠灰
$banjiuhui: #482936;

// 淡藤萝紫
$dantengluozi: #f2e7e5;

// 淡青紫
$danqingzi: #e0c8d1;

// 青蛤壳紫
$qinghakezi: #bc84a8;

// 豆蔻紫
$doukouzi: #ad6598;

// 扁豆紫
$biandouzi: #a35c8f;

// 芥花紫
$jiehuazi: #983680;

// 青莲
$qinglian: #8b2671;

// 芓紫
$zizi: #894276;

// 葛巾紫
$gejinzi: #7e2065;

// 牵牛紫
$qianniuzi: #681752;

// 紫灰
$zihui: #5d3f51;

// 龙睛鱼紫
$longjingyuzi: #4e2a40;

// 荸荠紫
$biqizi: #411c35;

// 古鼎灰
$gudinghui: #36292f;

// 乌梅紫
$wumeizi: #1e131d;

// 深牵牛紫
$shenqianniuzi: #1c0d1a;

// 银白
$yinbai: #f1f0ed;

// 芡食白
$qianshibai: #e2e1e4;

// 远山紫
$yuanshanzi: #ccccd6;

// 淡蓝紫
$danlanzi: #a7a8bd;

// 山梗紫
$shangengzi: #61649f;

// 螺甸紫
$luodianzi: #74759b;

// 玛瑙灰
$manaohui: #cfccc9;

// 野菊紫
$yejuzi: #525288;

// 满天星紫
$mantianxingzi: #2e317c;

// 锌灰
$xinhui: #7a7374;

// 野葡萄紫
$yeputaozi: #302f4b;

// 剑锋紫
$jianfengzi: #3e3841;

// 龙葵紫
$longkuizi: #322f3b;

// 暗龙胆紫
$anlongdanzi: #22202e;

// 晶石紫
$jingshizi: #1f2040;

// 暗蓝紫
$anlanzi: #131124;

// 景泰蓝
$jingtailan: #2775b6;

// 尼罗蓝
$niluolan: #2474b5;

// 远天蓝
$yuantianlan: #d0dfe6;

// 星蓝
$xinglan: #93b5cf;

// 羽扇豆蓝
$yushandoulan: #619ac3;

// 花青
$huaqing: #2376b7;

// 睛蓝
$jinglan: #5698c3;

// 虹蓝
$honglan: #2177b8;

// 湖水蓝
$hushuilan: #b0d5df;

// 秋波蓝
$qiubolan: #8abcd1;

// 涧石蓝
$jianshilan: #66a9c9;

// 潮蓝
$chaolan: #2983bb;

// 群青
$qunqing: #1772b4;

// 霁青
$jiqing: #63bbd0;

// 碧青
$biqing: #5cb3cc;

// 宝石蓝
$baoshilan: #2486b9;

// 天蓝
$tianlan: #1677b3;

// 柏林蓝
$bolinlan: #126bae;

// 海青
$haiqing: #22a2c3;

// 钴蓝
$gulan: #1a94bc;

// 鸢尾蓝
$yuanweilan: #158bb8;

// 牵牛花蓝
$qianniuhualan: #1177b0;

// 飞燕草蓝
$feiyancaolan: #0f59a4;

// 品蓝
$pinlan: #2b73af;

// 银鱼白
$yinyubai: #cdd1d3;

// 安安蓝
$ananlan: #3170a7;

// 鱼尾灰
$yuweihui: #5e616d;

// 鲸鱼灰
$jingyuhui: #475164;

// 海参灰
$haishenhui: #fffefa;

// 沙鱼灰
$shayuhui: #35333c;

// 钢蓝
$ganglan: #0f1423;

// 云水蓝
$yunshuilan: #baccd9;

// 晴山蓝
$qingshanlan: #8fb2c9;

// 靛青
$dianqing: #1661ab;

// 大理石灰
$dalishihui: #c4cbcf;

// 海涛蓝
$haitaolan: #15559a;

// 蝶翅蓝
$diechilan: #4e7ca1;

// 海军蓝
$haijunlan: #346c9c;

// 水牛灰
$shuiniuhui: #2f2f35;

// 牛角灰
$niujiaohui: #2d2e36;

// 燕颔蓝
$yanhanlan: #131824;

// 云峰白
$yunfengbai: #d8e3e7;

// 井天蓝
$jingtianlan: #c3d7df;

// 云山蓝
$yunshanlan: #2f90b9;

// 釉蓝
$youlan: #1781b5;

// 鸥蓝
$oulan: #c7d2d4;

// 搪磁蓝
$tangcilan: #11659a;

// 月影白
$yueyingbai: #c0c4c3;

// 星灰
$xinghui: #b2bbbe;

// 淡蓝灰
$danlanhui: #5e7987;

// 鷃蓝
$yanlan: #144a74;

// 嫩灰
$nenhui: #74787a;

// 战舰灰
$zhanjianhui: #495c69;

// 瓦罐灰
$waguanhui: #47484c;

// 青灰
$qinghui: #2b333e;

// 鸽蓝
$gelan: #1c2938;

// 钢青
$gangqing: #142334;

// 暗蓝
$anlan: #101f30;

// 月白
$yuebai: #eef7f2;

// 海天蓝
$haitianlan: #c6e6e8;

// 清水蓝
$qingshuilan: #93d5dc;

// 瀑布蓝
$pubulan: #51c4d3;

// 蔚蓝
$weilan: #29b7cb;

// 孔雀蓝
$kongquelan: #0eb0c9;

// 甸子蓝
$dianzilan: #10aec2;

// 石绿
$shilv: #57c3c2;

// 竹篁绿
$zhuhuanglv: #b9dec9;

// 粉绿
$fenlv: #83cbac;

// 美蝶绿
$meidielv: #12aa9c;

// 毛绿
$maolv: #66c18c;

// 蔻梢绿
$koushaolv: #5dbe8a;

// 麦苗绿
$maimiaolv: #55bb8a;

// 蛙绿
$walv: #45b787;

// 铜绿
$tonglv: #2bae85;

// 竹绿
$zhulv: #1ba784;

// 蓝绿
$lanlv: #12a182;

// 穹灰
$qionghui: #c4d7d6;

// 翠蓝
$cuilan: #1e9eb3;

// 胆矾蓝
$danfanlan: #0f95b0;

// 樫鸟蓝
$jianniaolan: #1491a8;

// 闪蓝
$shanlan: #7cabb1;

// 冰山蓝
$bingshanlan: #a4aca7;

// 虾壳青
$xiakeqing: #869d9d;

// 晚波蓝
$wanbolan: #648e93;

// 蜻蜓蓝
$qingtinglan: #3b818c;

// 玉鈫蓝
$yuqinlan: #126e82;

// 垩灰
$ehui: #737c7b;

// 夏云灰
$xiayunhui: #617172;

// 苍蓝
$canglan: #134857;

// 黄昏灰
$huanghunhui: #474b4c;

// 灰蓝
$huilan: #21373d;

// 深灰蓝
$shenhuilan: #132c33;

// 玉簪绿
$yuzanlv: #a4cab6;

// 青矾绿
$qingfanlv: #2c9678;

// 草原远绿
$caoyuanyuanlv: #9abeaf;

// 梧枝绿
$wuzhilv: #69a794;

// 浪花绿
$langhualv: #92b3a5;

// 海王绿
$haiwanglv: #248067;

// 亚丁绿
$yadinglv: #428675;

// 镍灰
$niehui: #9fa39a;

// 明灰
$minghui: #8a988e;

// 淡绿灰
$danlvhui: #70887d;

// 飞泉绿
$feiquanlv: #497568;

// 狼烟灰
$langyanhui: #5d655f;

// 绿灰
$lvhui: #314a43;

// 苍绿
$canglv: #223e36;

// 深海绿
$shenhailv: #1a3b32;

// 长石灰
$changshihui: #363433;

// 苷蓝绿
$ganlanlv: #1f2623;

// 莽丛绿
$mangconglv: #141e1b;

// 淡翠绿
$dancuilv: #c6dfc8;

// 明绿
$minglv: #9eccab;

// 田园绿
$tianyuanlv: #68b88e;

// 翠绿
$cuilv: #20a162;

// 淡绿
$danlv: #61ac85;

// 葱绿
$conglv: #40a070;

// 孔雀绿
$kongquelv: #229453;

// 艾绿
$ailv: #cad3c3;

// 蟾绿
$chanlv: #3c9566;

// 宫殿绿
$gongdianlv: #20894d;

// 松霜绿
$songshuanglv: #83a78d;

// 蛋白石绿
$danbaishilv: #579572;

// 薄荷绿
$bohelv: #207f4c;

// 瓦松绿
$wasonglv: #6e8b74;

// 荷叶绿
$heyelv: #1a6840;

// 田螺绿
$tianluolv: #5e665b;

// 白屈菜绿
$baiqucailv: #485b4d;

// 河豚灰
$hetunhui: #393733;

// 蒽油绿
$enyoulv: #373834;

// 槲寄生绿
$hujishenglv: #2b312c;

// 云杉绿
$yunshanlv: #15231b;

// 嫩菊绿
$nenjulv: #f0f5e5;

// 艾背绿
$aibeilv: #dfecd5;

// 嘉陵水绿
$jialingshuilv: #add5a2;

// 玉髓绿
$yusuilv: #41b349;

// 鲜绿
$xianlv: #43b244;

// 宝石绿
$baoshilv: #41ae3c;

// 海沬绿
$haimeilv: #e2e7bf;

// 姚黄
$yaohuang: #d0deaa;

// 橄榄石绿
$ganlanshilv: #b2cf87;

// 水绿
$shuilv: #8cc269;

// 芦苇绿
$luweilv: #b7d07a;

// 槐花黄绿
$huaihuahuanglv: #d2d97a;

// 苹果绿
$pingguolv: #bacf65;

// 芽绿
$yalv: #96c24e;

// 蝶黄
$diehuang: #e2d849;

// 橄榄黄绿
$ganlanhuanglv: #bec936;

// 鹦鹉绿
$yingwulv: #5bae23;

// 油绿
$youlv: #253d24;

// 象牙白
$xiangyabai: #fffef8;

// 汉白玉
$hanbaiyu: #f8f4ed;

// 雪白
$xuebai: #fffef9;

// 鱼肚白
$yudubai: #f7f4ed;

// 珍珠灰
$zhenzhuhui: #e4dfd7;

// 浅灰
$qianhui: #dad4cb;

// 铅灰
$qianhui: #bbb5ac;

// 中灰
$zhonghui: #bbb5ac;

// 瓦灰
$wahui: #867e76;

// 夜灰
$yehui: #847c74;

// 雁灰
$yanhui: #80766e;

// 深灰
$shenhui: #81776e;
